.pomodoro-section h2 {
  margin: 0;
  padding: 0;
  font-size: 32px; /* Font size for timer type */
  margin-bottom: 10px; /* Bottom margin for spacing */
  text-shadow: 
    -1px -1px 0 white,  
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.pomodoro-section .timer {
  font-size: 90px; /* Font size for timer */
  font-weight: bold; /* Bold font for emphasis */
  margin-bottom: 5px; /* Bottom margin for spacing */
  margin-top: 5px;
  text-shadow: 
    -1px -1px 0 #009900,  
    1px -1px 0 #009900,
    -1px 1px 0 #009900,
    1px 1px 0 #009900; /* Green outline */
}

.pomodoro-section .buttons {
  margin-top: 10px; /* Top margin for spacing */
}

.pomodoro-section .buttons button {
  margin-right: 10px; /* Right margin between buttons */
  padding: 10px 20px; /* Padding for buttons */
  font-size: 16px; /* Font size for buttons */
  cursor: pointer; /* Cursor style for buttons */
  border-radius: 5px; /* Rounded corners for buttons */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: 2px solid black;
}

.pomodoro-section .buttons button:hover {
  background-color: #0056b3; /* Button background color on hover */
}
