.App {
  text-align: center;
}

.header-section h1 {
  margin: 0;
  padding: 0;
  background-color: #1993D3;
  min-height: 8vh;
  font-size: 50px;
  text-shadow: 
    -1px -1px 0 darkblue,  
    1px -1px 0 lightgreen,
    -1px 1px 0 lightblue,
    1px 1px 0 #19B6D3;
}

.header-section .authentication {
  background-color: #1993D3;
  min-height: 8vh;
  border-bottom: 2px solid black;
}

.pomodoro-section {
  margin: 0;
  padding: 0;
  background-color: #199FD3;
  min-height: 25vh;
  border-bottom: 1px solid black;
}

.pomodoro-section h2 {
  margin: 0;
  padding: 0;
}

.pomodoro-section .timer {
  /*font-size: 2rem;*/
}

.pomodoro-section .buttons {
  /*margin-top: 10px;*/
}

.task-form-section {
  background-color: #19ACD3;
  min-height: 15vh;
  border-bottom: 2px solid black; 
}

.task-list-section {
  background-color: #19BFD3;
  min-height: 52vh;
}

