.App {
  text-align: center;
}

.header-section h1 {
  margin: 0;
  padding: 0;
  background-color: #aaf0d1; /* Light green */
  height: 15vh; /* 15% of viewport height */
  border-bottom: 2px solid black; /* Black border */
}

.pomodoro-section h2 {
  margin: 0;
  padding: 0;
  background-color: #69d2e7; /* Light blue */
  height: 15vh; /* 15% of viewport height */
  border-bottom: 2px solid black; /* Black border */
}

.task-form-section {
  background-color: #2a6e6b; /* Dark green */
  height: 15vh; /* 15% of viewport height */
  border-bottom: 2px solid black; /* Black border */
}

.task-list-section {
  background-color: #b7d7e8; /* Light blue */
  min-height: 55vh; /* Remaining height */
}

.footer-section {
  background-color: #ffb6b9; /* Light red */
  height: 5vh; /* 5% of viewport height */
  border-top: 2px solid black; /* Black border */
}
